.groupList {
    @include headerSetup();
    height: 100vh;
    padding-bottom: 300px;
    .groupContainer {
        .groupSelection {
            @include selectionCard();
            img {
                box-sizing: border-box;
                width: 37%;
                border-right: 1px solid white;
            }
            &__groupName {
                margin: 0;
                font-size: 1rem;
                color: white;
                position: absolute;
                bottom: 10%;
                right: 3%;
            }
            &__route {
                font-size: 0.8rem;
                margin: 0;
                color: lightsalmon;
                position: absolute;
                z-index: 2;
                top: 7%;
                right: 3%;
            }
            &__riders {
                font-size: 0.8rem;
                margin: 0;
                color: lightblue;
                position: absolute;
                z-index: 2;
                top: 29%;
                right: 3%;
            }
            &__date {
                font-size: 0.8rem;
                margin: 0;
                color: lightpink;
                position: absolute;
                z-index: 2;
                top: 51%;
                right: 3%;
            }
        }
    }
    &__button {
        text-align: center;
        margin-top: 30px;
        padding-bottom: 50px;
        button {
            width: 130px;
            padding: 10px;
            border-radius: 4px;
            height: 35px;
            background: steelblue;
            border: 1px solid white;
            box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
            color: white;
            &:hover {
                background: tomato;
            }
        }
    }
}