.formContainer {
    background: $background;
    height: 100vh;
    padding-bottom: 150px;
    &__image {
        height: 150px;
        position: relative;
        margin-bottom: 15px;
        img {
            border-radius: 5px;
            box-sizing: border-box;
            border: 2px solid white;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:before {
            content: "";
            position: absolute;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            background: rgba(black, 0.2);
        }
    }
    .groupForm {
        & > div {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
        textarea {
            font-family: $font;
            border-radius: 2px;
            padding: 10px;
            height: 75px;
        }
        label {
            color: white;
            margin-bottom: 5px;
        }
        input {
            font-family: $font;
            border-radius: 2px;
            padding-left: 10px;
        }
        &__groupName {
            @include groupInputStyle();
        }
        &__groupMeetupSpot {
            @include groupInputStyle();
        }
        &__routeSelect {
            select {
                background: lightgray;
                height: 25px;
            }
        }
        &__groupDateTime {
            width: 100%;
            .react-datepicker-wrapper {
                width: 100%;
            }
            .react-datepicker__input-container {
                width: 100%;
            }
            input {
                width: 97%;
                height: 25px;
                border: none;
            }
        }
        &__submit {
            align-items: center;
            h2 {
                margin-top: 0;
                color: white
            }
            &--button {
                @include buttonStyle();
                height: 40px;
                text-align: center;
            }
        }
    }
}