.rideDetails {
    background: $background;
    padding-bottom: 100px;
    &__header {
        &--title {
            display: flex;
            align-items: center;
            img {
                width: 5%;
                height: 5%;
                margin-right: 15px;
            }
        }
    }
    .selection {
        @include selectionCard();
        &__titleRight {
            @include choiceText();
            right: 3%;
            z-index: 100;
        }
        &__titleLeft {
            @include choiceText();
            left: 3%;
        }
    }
    .groupDetails {
        &__description {
            padding: 10px;
            margin-top: 25px;
            box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
            color: white;
            font-family: $secondaryFont;
            h2 {
                width: 100%;
                margin: 0;
                padding-bottom: 5px;
                border-bottom: 1px solid white;
                font-weight: 500; 
                font-size: 1.1rem;
            }
            p {
                font-weight: 100;
                margin-top: 10px;
                margin-bottom: 25px;
                font-size: 0.9rem;
            }
        }
    }
    &__join {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        text-decoration: none;
        button {
            @include buttonStyle();
            &:first-child {
                margin-right: 30px;
            }
        }
    }
    &__attending {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        a {
            margin: 0;
            display: flex;
            margin-bottom: 20px;
            overflow: hidden;
            width: 47%;
            height: 250px;
            position: relative;
            border-radius: 10px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }
    }
    &__delete {
        margin-top: 20px;
        text-align: center;
        button {
            @include buttonStyle();
            background: rgb(202, 57, 57);
            &:hover {
                background: darkorchid;
            }
        }
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }

.Modal {
    animation: fade 0.7s;
    z-index: 5000;
    position: absolute;
    width: 92%;
    border: 2px solid steelblue;
    border-radius: 5px;
    top: 5%;
    left: -10%;
    transform: translate(50px, 50px);
    height: 80vh; 
    overflow: scroll; 
    outline: none;
    background-image: $background;
}

.Overlay {
    z-index: 5000;
    position: fixed;
    outline-color: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(black, 0.5);
    overflow: 'scroll';
}

.modalInvite {
    color: white;
    margin-top: 10px;
    text-align: center;
    &__friends {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    h2 {
        text-align: left;
    }
    button {
        @include buttonStyle();
        margin-top: 20px;
        margin-bottom: 50px;
    }
}