.formContainer {
    background: $background;
    height: 100vh;
    padding-bottom: 150px;
    &__image {
        height: 150px;
        position: relative;
        margin-bottom: 30px;
        img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:before {
            content: "";
            position: absolute;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            background: rgba(black, 0.2);
        }
    }
    .groupForm {
        & > div {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }
        textarea {
            font-family: $font;
            border-radius: 2px;
            padding: 10px;
            height: 75px;
        }
        label {
            color: white;
            margin-bottom: 5px;
        }
        input {
            font-family: $font;
            border-radius: 2px;
            padding-left: 10px;
        }
        &__groupName {
            input {
                height: 25px;
                border: none;
            }
        }
        &__groupMeetupSpot {
            input {
                height: 25px;
                border: none;
            }
        }
        &__routeSelect {
            select {
                background: lightgray;
            }
        }
        &__groupDateTime {
            width: 100%;
            .react-datepicker-wrapper {
                width: 100%;
            }
            .react-datepicker__input-container {
                width: 100%;
            }
            input {
                width: 97%;
                height: 25px;
                border: none;
            }
        }
        &__submit {
            align-items: center;
            h2 {
                margin-top: 0;
                color: white
            }
            &--button {
                text-align: center;
                text-decoration: none;
                width: 130px;
                padding: 10px;
                border-radius: 4px;
                height: 50px;
                background: steelblue;
                border: 1px solid white;
                box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
                color: white;
                &:hover {
                    background: tomato;
                }
            }
        }
    }
}